<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!-- <h1> <%=  token  %> </h1> -->
    <h1 style="text-align: center; margin-top: 50px; margin-bottom: 20px;"></h1>

    <label for="">Enter your new password</label>
    <input type="password">
    <button onclick="handleSubmit()">Submit</button>

    <script>
          let headingTag = document.querySelector('h1')
        let x = document.querySelector('input')
        console.log(x)
        let token = "<%=  token  %>"
        console.log(token)
      async  function handleSubmit(e){
           let ans = x.value
           console.log(ans)
           

           let res = await fetch(`http://localhost:8092/users/resetToken/${token}`,{
            method:"POST",
            headers:{
                'content-type':'application/json'
            },
            body:JSON.stringify({newPassword:ans})
           })

           let data = await res.json();
           console.log(data)
           if(data.success){
            headingTag.innerHTML = data.msg
            headingTag.style.color = "green"
            x.value = ""
           }
           else{
             headingTag.innerHTML = data.msg
            headingTag.style.color = "red"
              x.value = ""
           }
        }

       

    </script>
</body>
</html>


